@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #343a40;
  font-weight: 400;
}

input:focus {
  outline: none;
}
